#  Install Mongo & Start Service.
#    # yum install -y mongodb-org
#    # systemctl enable mongod
#    # systemctl start mongod
#    Update Liste IP address from 127.0.0.1 to 0.0.0.0 in config file
#  Config file: /etc/mongod.conf
#
#    then restart the service
#
#    # systemctl restart mongod
#    Every Database needs the schema to be loaded for the application to work.
#    Download the schema and load it.
#
#  # curl -s -L -o /tmp/mongodb.zip "https://github.com/roboshop-devops-project/mongodb/archive/main.zip"
#
#  # cd /tmp
#  # unzip mongodb.zip
#  # cd mongodb-main
#  # mongo < catalogue.js
#  # mongo < users.js

- name: Copy MongoDB repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: Install MongoDB
  ansible.builtin.yum:
    name: mongodb-org
    state: installed 

- name: Update MongoDB config file to listen on 0.0.0.0
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: Start MongoDB Service
  ansible.builtin.systemd:
    name: mongod
    state: started
    enabled: yes

